<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sessions</title>
    <link rel="stylesheet" href="/css/sessions.css"> <!-- Link to external CSS file -->
</head>
<body>
<noscript>
    <div class="no-js-warning">
        <p>JavaScript is required for this application to function properly. Please enable JavaScript in your browser settings.</p>
        <style>
            /* Hide main content if JavaScript is disabled */
            .js-enabled-content {
                display: none;
            }
        </style>
    </div>
</noscript>

<div class="js-enabled-content">
    <h1>ZSL Bird ID</h1> <!-- Main heading for the page -->

    <!-- Form to create a session -->
    <div class="centered-container">
        <h2>Create a new session</h2> <!-- Secondary heading for form section -->
        <form class="centered-form" id="createSessionForm"> <!-- Form for creating a new session -->
            <div class="centered-form-input"> <!-- Container for form inputs -->
                <label for="name">Session Name:</label>
                <input type="text" id="name" name="name" required> <!-- Input for session name -->
                <label for="type">Session Type</label>
                <select id="type" name="type"> <!-- Dropdown for session type -->
                    <option value="individual">Individual</option> <!-- Option for individual session -->
                    <option value="group">Group</option> <!-- Option for group session -->
                </select>
            </div>
            <!-- Hidden inputs for user session status -->
            <input type="hidden" id="userInSession" name="userInSession" th:value="${user.inSession}"/>
            <div th:if="${user.currentSession != null}" >
                <input type="hidden" id="userInSessionActive" name="userInSessionActive" th:value="${user.currentSession.active}"/>
                <input type="hidden" id="currentSessionId" name="currentSessionId" th:value="${user.currentSession.id}"/>
            </div>
            <button type="submit">Create Session</button> <!-- Submit button for form -->
        </form>
    </div>

    <!-- Thymeleaf template code for displaying sessions -->
    <div th:each="s : ${sessions}"> <!-- Loop through sessions -->
        <div th:if="${s.active}" class="centered-container sessions"> <!-- Check if session is active -->
            <!-- Form to join a session -->
            <form th:if="${!s.individual || s.admin == user}" th:action="@{/api/sessions/{sessionId}/join(sessionId=${s.id})}" method="post" class="centered-form">
                <div th:if="${!user.inSession}"> <!-- Check if user is not in any session -->
                    <!-- Button to join session -->
                    <button th:if="${!s.userList.contains(user)}" type="submit" th:text="'Join Session ' + ${s.name}">Join Session</button>
                </div>
                <div th:if="${user.inSession}"> <!-- Check if user is in a session -->
                    <!-- Button to rejoin session -->
                    <button th:if="${s.userList.contains(user)}" type="submit" th:text="'Rejoin Session ' + ${s.name}">Rejoin Session</button>
                    <!-- Disabled button if user cannot join -->
                    <button th:if="${!s.userList.contains(user)}" type="button" th:text="'Join Session ' + ${s.name}" disabled>Join Session</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Reveal the content only if JavaScript is enabled
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.js-enabled-content').style.display = 'block';
    });
</script>
<script src="/js/sessions.js"></script> <!-- Link to external JavaScript file -->
</body>
</html>
