<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Song Quiz</title>
    <link rel="stylesheet" href="/css/session.css">
</head>
<body>
<noscript>
    <div class="no-js-warning">
        <p>JavaScript is required for this application to function properly. Please enable JavaScript in your browser settings.</p>
        <style>
            .js-enabled-content {
                display: none;
            }
        </style>
    </div>
</noscript>

<div class="js-enabled-content">
    <h1>Bird Song Quiz</h1>

    <div class="button-group">
        <div th:if="${user.managedSession == session_}">
            <form id="changeQuestionForm" th:unless="${session_.questionIndex + 1 >= session_.questionList.size()}">
                <input type="hidden" name="sessionId" th:value="${sessionId}">
                <input type="hidden" name="currentIndex" id="currentIndex" th:value="${session_.questionIndex}">
                <button type="button" id="nextQuestionButton" class="btn">Next Question</button>
            </form>

            <form id="endSessionForm" th:if="${session_.questionIndex + 1 >= session_.questionList.size()}">
                <input type="hidden" name="sessionId" th:value="${sessionId}">
                <button type="button" id="endSessionButton" class="btn">End Session</button>
            </form>
        </div>

        <form id="leaveSessionForm">
            <input type="hidden" name="sessionId" th:value="${sessionId}">
            <button type="button" id="leaveSessionButton" class="btn">Leave Session</button>
        </form>
    </div>

    <div id="sessionStats" class="stats hidden">
        <h2>Session Statistics</h2>
        <div class="stats-container">
            <div th:if="${session_.individual || !(user.managedSession == session_)}">
                <p id="userScore" th:text="'Score: ' + ${user.sessionScore}"></p>
            </div>
            <div th:if="${user.managedSession == session_ && !session_.individual}" class="stats-row">
                <p id="minScore"></p>
                <p id="maxScore"></p>
                <p id="averageScore"></p>
                <p id="medianScore"></p>
                <p id="numberOfParticipants"></p>
                <p th:unless="${session_.questionIndex + 1 >= session_.questionList.size()}" th:text="'Active Users: ' + ${session_.userList.size() - 1}"></p>
            </div>
        </div>
    </div>

    <div th:each="question, questionStat : ${session_.questionList}">
        <div class="question-container"
             th:if="${questionStat.index == session_.questionIndex}"
             th:attr="data-question-index=${questionStat.index}">

            <p th:text="'Question ' + ${questionStat.index + 1}">Question</p>

            <button class="play-button" th:onclick="'playAudio(' + ${questionStat.index} + ')'">PLAY SONG #[[${questionStat.index + 1}]]</button>

            <audio th:id="'audio-' + ${questionStat.index}" style="display: none;">
                <source th:src="@{/files/{filename}(filename=${question.mainBird.mediaUrl})}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

            <div class="video-options">
                <div th:each="option, optionStat : ${question.options}"
                     class="video-card"
                     th:attr="data-option-id=${option.id}, data-audio-id='audio-' + ${questionStat.index}">
                    <div th:onclick="|selectVideo(${option.id}, ${question.mainBird.id}, ${questionStat.index}, ${question.id}, ${optionStat.index})|">
                        <div class="spectrogram">
                            <video width="100%" height="100%">
                                <source th:src="@{/files/{filename}(filename=${question.getBirdVideoUrls().get(option)})}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <!--image container -->
                        <div class="image-container">
                            <img class="bird-image" th:src="@{/files/{filename}(filename=${option.imageUrl})}" alt="Bird image">
                        </div>
                    </div>
                    <a th:href="${option.wikipediaUrl}" target="_blank" class="bird-info">
                        <span class="info-icon" aria-label="Learn more.">&#9432;</span>
                        <span class="bird-name" aria-label="Learn more" th:text="${option.birdName}"></span>
                    </a>
                </div>
            </div>

            <div class="feedback"></div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.js-enabled-content').style.display = 'block';
    });
</script>
<script th:inline="javascript">
    var sessionId = /*[[${sessionId}]]*/ '';
</script>
<script src="/js/session.js"></script>
</body>
</html>
