<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bird Media</title>
</head>
<body>
<div th:each="b : ${birds}">
    <div th:if="${b.isMain}">
        <p th:text="'Bird: ' + ${b.birdName}"></p>
        <img th:src="@{/files/{filename}(filename=${b.imageUrl})}" alt="an image of a bird">
        <audio controls>
            <source th:src="@{/files/{filename}(filename=${b.mediaUrl})}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div th:each="o : ${b.options}">
            <video width="640" height="360" controls>
                <source th:src="@{/files/{filename}(filename=${o.mediaUrl})}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
</body>
</html>
